
$ipb_X: calc(24px + 2.8vw)
$ipb_Y: calc(18px + 2.2vw)

.__content
    height: 100vh
    overflow-y: scroll
// 
.iayout-page-def
    @extend .__content
    background: #FFF
    .ipd-fiiter
        @extend .fx-s
        & > div:first-child
            flex: 1
.ipd-fiiter
    margin-top: calc( 12px + 0.4vw )
.iayout-page-box
    padding: $ipb_Y $ipb_X

@media screen and ( max-width: 1280px )
    $ipb_X: $ds_x2
    $ipb_Y: calc(20px + 3vh)

    .iayout-page-box
        padding: $ipb_Y $ipb_X
    .ipd-fiiter
        flex-wrap: wrap-reverse
        & > div:last-child,
        & > div:first-child
            width: 100%
        & > div:first-child
            margin-top: $ds

//   
.iayout-page-form
    @extend .__content

.iayout-page-amplify
    padding-top: $ipb_Y
    padding-bottom: $ipb_Y
    & > div
        padding-left: $ipb_X
        padding-right: $ipb_X

.layout-post-cont
    position: relative

._post-fixed-panner
    position: absolute
    background: #FFF
    @extend .br
    width: 50vw
    min-height: 40vh
._post-fixed-panner,
.layout-post-send-button 
    padding: $ds_x2 $ds_x4

// 
.layout-post-fixed-panner
    @extend ._post-fixed-panner
    right: 0px
    top: 0.38em
    min-height: calc( 96vh - 7em )
    max-width: calc( 8vw + 173px )
    box-shadow: 0.5px 1px 1.2em -0.6px rgba(0, 0, 0, 0.172)

.layout-post-send-button 
    position: absolute
    width: 100%
    bottom: 0px
    left: 0px

.ipfp_fixed_ieve
    top: 7.77em
    position: fixed
    max-width: calc( 8vw + 173px + $ipb_X )

@media screen and ( max-width: 1280px )
    ._post-fixed-panner,
    .layout-post-send-button 
        padding: $ds $ds_x2